@model MVCAspNet.DataTables.Web.Models.Cliente

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhe</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Voltar", "Index")
</p>
